$color-white-trans06: rgba(255, 255, 255, 0.6);
$color-white-trans07: rgba(255, 255, 255, 0.7);
$color-white-trans08: rgba(255, 255, 255, 0.8);
$color-white-trans09: rgba(255, 255, 255, 0.9);
$color-white: rgba(255, 255, 255);
$color-white-trans01: rgba(255, 255, 255, 0.1);
$color-blue: blue;
$color-dark-trans03: rgba(59, 61, 81, 0.3);
$color-black-trans025: rgba(0, 0, 0, 0.25);
$color-bg-mediaL: #223073;
$color-border-mediaL: #272B4D;
$color-bg: linear-gradient(0deg, rgba(15, 26, 65, 1) 0%, rgba(9, 19, 52, 0) 100%);
$color-filter-wrapper: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
$color-filter-publications: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.07));
$color-bg-publishingHouse: rgba(59, 61, 81, 0.6);
$color-bg-publicationsM:rgba(81, 81, 81, 0.2);
$color-logo-bg: rgb(29, 29, 128);
$color-bg-contactM: #001071;
$color-bg-contactL: #000839;
$color-scrollbar-track:rgba(64, 67, 98, 0.1);
$color-scrollbar-thumb:rgba(64, 67, 98, 0.4);
