.events {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-left: 14px;
    gap: 10px;
    width: 342px;
    background-color: rgba(59, 61, 81, 0.3);
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.07));
}

.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 157px;
    height: 213px;
    gap: 8px;
}

.event__img {
    height: 173px;
    object-position: center;
    object-fit: contain;
    border-radius: 8px;
}

.event__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.8);
}

.events__publishingHouse {
    display: flex;
    padding: 8px 12px;
    align-self: flex-start;
    background: rgba(59, 61, 81, 0.6);
    border-radius: 8px;
    margin: 20px 2px 12px 2px;
}

.events__bogumil {
    z-index: -1;
    position: absolute;
    content: "";
    right: -10px;
    top: -35px;
}
