.events {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 80px 0 0 14px;
    gap: 10px;
    width: 342px;
    background-color: rgba(59, 61, 81, 0.3);
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.07));
}

.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 157px;
    gap: 8px;
}

.event__img {
    height: 173px;
    object-position: center;
    object-fit: contain;
    border-radius: 8px;
}

.event__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.8);
}

.events__publishingHouse {
    position: absolute;
    top: 20px;
    left: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    background: rgba(59, 61, 81, 0.6);
    border-radius: 8px;
}

.events__bogumil {
    z-index: -1;
    position: absolute;
    content: "";
    right: -10px;
    top: -35px;
}

@media only screen and (min-width: 833px) {
    .events {
        padding: 90px 0 0 16px;
        background: rgba(81, 81, 81, 0.2);
        border-radius: 16px;
        width: 467px;
        flex-wrap: nowrap;
        overflow: hidden;
        gap: 27px;
    }

    .event {
        width: 179px;
    }

    .event__img {
        width: 179px;
        height: 213px;
        gap: 8px;
    }

    .events__bogumil {
        z-index: 1;
        height: 230px;
        width: 190px;
        right: -49px;
    }

    .events__publishingHouse {
        width: 219px;
        height: 46px;
        left: 16px;
    }

    .events__publishingHouse-img {
        width: 195px;
        height: 30px;
    }

    .event__title {
        margin: 0;
    }
}