.publicationsBox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    box-sizing: border-box;
    padding: 80px 14px 0 14px;
    border-radius: 8px;
    background-color: rgba(59, 61, 81, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.07));
}

.publications {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 10px;
    width: 317px;
    overflow-y: hidden;
}

.publications::-webkit-scrollbar {
    height: 6px;
}

.publications::-webkit-scrollbar-track {
    background-color: rgba(64, 67, 98, 0.1);
    border-radius: 8px;
}

.publications::-webkit-scrollbar-thumb {
    background-color: rgba(64, 67, 98, 0.4);
    border-radius: 8px;
}

.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.event__img {
    width: 156px;
    height: 173px;
    border-radius: 8px;
    object-position: center;
    object-fit: cover;
}

.event__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.8);
}

.publications__publishingHouse {
    position: absolute;
    top: 20px;
    left: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    background: rgba(59, 61, 81, 0.6);
    border-radius: 8px;
    z-index: 2;
}

.publications__bogumil {
    z-index: 2;
    position: absolute;
    right: -10px;
    top: -35px;
}

.publications__boxWithArrows {
    position: relative;
}

.publications__scroll {
    position: absolute;
    object-fit: cover;
    top: 0;
    height: 173px;
    width: 54px;
    z-index: 1;
    opacity: 0;
}

.arrowRight {
    right: 0;
}

.arrowLeft {
    transform: rotate(180deg);
    left: 0;
}

.arrowShow {
    opacity: 1;
}

@media only screen and (min-width: 833px) {
    .publicationsBox {
        width: 467px;
        padding: 90px 16px 0px 16px;
        border-radius: 16px;
        background: rgba(81, 81, 81, 0.2);
    }

    .publications {
        width: 433px;
    }

    .event {
        width: 179px;
    }

    .event__img {
        width: 179px;
        height: 213px;
        gap: 8px;
    }

    .publications__bogumil {
        height: 230px;
        width: 190px;
        right: -49px;
    }

    .publications__publishingHouse {
        left: 16px;
        top: 20px;
    }

    .publications__publishingHouse-img {
        width: 195px;
        height: 30px;
    }

    .event__title {
        margin: 0;
    }

    .publications__scroll {
        height: 213px;
    }
}

@media only screen and (min-width: 1439px) {
    .publications {
        column-gap: 15px;
    }

    .event {
        width: 204px;
    }

    .event__img {
        width: 204px;
        height: 257px;
    }

    .event__title {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 0px;
    }

    .publications__bogumil {
        height: 255px;
        width: 215px;
    }

    .publications__scroll {
        height: 257px;
    }
}