@import "./../scss/Main";

.publications {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    padding: 80px 14px 0 14px;
    border-radius: 8px;
    background-color: $color-dark-trans03;
    filter: $color-filter-publications;

    &__bogumil {
        position: absolute;
        right: -10px;
        top: -35px;
        z-index: 2;
    }

    &__publishingHouse {
        position: absolute;
        top: 20px;
        left: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 12px;
        background: $color-bg-publishingHouse;
        border-radius: 8px;
        z-index: 2;
    }

    &__boxWithArrows {
        position: relative;

        &-scroll {
            position: absolute;
            object-fit: cover;
            top: 0;
            height: 213px;
            width: 0px;
            z-index: 1;
        }

        .arrowRight {
            right: 0;
        }

        .arrowLeft {
            transform: rotate(180deg);
            left: 0;
        }

        .arrowShow {
            width: 30px;
        }

        &-events {
            display: flex;
            flex-wrap: nowrap;
            column-gap: 20px;
            width: 317px;
            overflow-y: hidden;

            &::-webkit-scrollbar {
                height: 6px;
            }

            &::-webkit-scrollbar-track {
                background-color: $color-scrollbar-track;
                border-radius: 8px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $color-scrollbar-thumb;
                border-radius: 8px;
            }
        }
    }
}

.publication {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    &__img {
        width: 179px;
        height: 213px;
        border-radius: 8px;
        object-position: center;
        object-fit: cover;
    }

    &__title {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: $color-white-trans08;
    }
}

@media only screen and (min-width: 833px) {
    .publications {
        padding: 90px 16px 0px 16px;
        border-radius: 16px;
        background: $color-bg-publicationsM;

        &__bogumil {
            height: 230px;
            width: 190px;
            right: -49px;
        }

        &__publishingHouse {
            left: 16px;
            top: 20px;

            &-img {
                width: 195px;
                height: 30px;
            }
        }

        &__boxWithArrows {
            &-events {
                width: 433px;
            }

            .arrowShow {
                width: 54px;
            }
        }
    }

    .publication {
        width: 179px;

        &__img {
            gap: 8px;

            &:hover {
                opacity: 0.85;
            }
        }

        &__title {
            margin: 0;
        }
    }
}

@media only screen and (min-width: 1439px) {
    .publications {
        &__bogumil {
            height: 255px;
            width: 215px;
        }

        &__boxWithArrows {
            &-events {
                column-gap: 15px;
            }
        }
    }

    .publication {
        width: 204px;

        &__title {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 0px;
        }
    }
}
