.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header__bogumil {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url("./../../assets/bogumil_love_s.svg");
    background-repeat: no-repeat;
    z-index: -1;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 91px;
    background: rgb(29, 29, 128);
    border-radius: 50%;
    overflow: hidden;
}

.header__logo-bg {
    background: rgba(255, 255, 255, 0.1);
}

.header__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 8px;
}

.header__information {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 24px 0;
}

@media only screen and (min-width: 833px) {
    .header__bogumil {
        background-image: url("./../../assets/bogumil_love\ _m.svg");
    }

    .header__logo {
        width: 121px;
        height: 121px;
        background: rgba(255, 255, 255, 0.1);
    }

    .header_title {
        font-size: 36px;
        line-height: 45px;
        margin-bottom: 16px;
    }

    .header__information {
        font-size: 24px;
        line-height: 30px;
        margin: 0;
    }

    .header__logo-bg {
        background: none;
    }
}

@media only screen and (min-width: 1439px) {
    .header{
        width: 1440px;
    }
    .header__bogumil {
        background-image: url("./../../assets/bogumil_love_l.svg");
    z-index: 1;
    left: 98.96px;
    top: 0;

    }

   .header__information{
    color: rgba(255, 255, 255, 0.6);
   } 
}