.media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0 12px;
    width: 342px;
    margin: 20px 0;
}

.media__link {
    text-decoration: none;
    color: white;
}

.media__icon {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.media__icon-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background-color: rgba(59, 61, 81, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.media__icon-img:hover {
    opacity: 0.85;
}

.media__icon-title {
    font-weight: 400;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
}

.media__icon-view {
    width: 40px;
    height: 40px;
}

@media only screen and (min-width: 833px) {
    .media {
        gap: 24px;
        width: 469px;
    }

    .media__icon-img {
        width: 74px;
        height: 74px;
    }

    .media__icon-view {
        width: 54px;
        height: 54px;
    }

    .media__icon-title {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1439px) {
    .media {
        width: 394px;
    }

    .media__icon {
        width: 74px;
    }

    .media__icon-img {
        background: #223073;
        border: 1px solid #272B4D;
        box-shadow: none;
    }
}
