.media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:0 12px;
    width: 342px;
    margin: 20px;
}

.media__link {
    text-decoration: none;
    color: white;
}

.media__icon {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.media__icon-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background-color: rgba(59, 61, 81, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.media__icon-title {
    font-weight: 400;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
}