@import "./../scss/Main";

.bannerImg {
  border-radius: 23px;
  margin-bottom: 24px;
  width: 342px;
  height: 100px;
}

@media only screen and (min-width: $breakpointM) {
  .bannerImg {
    width: 467px;
  }
}

@media only screen and (min-width: $breakpointL) {
  .bannerImg {
    width: 392px;
  }
}
